<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Empty Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div th:fragment="menu">
    <p>
        <a th:href="@{/}">Home</a>
    </p>
    <p>
        <a th:href="@{/apply}">Create application</a>
    </p>
    <p>
        <a th:href="@{/login}">Login</a>
    </p>
    <p>
        <a th:href="@{/register}">Register</a>
    </p>
    <p>
        <a th:href="@{/logout}">Log out</a>
    </p>
    <p>
        <a th:href="@{/recruiter/list-applications}">View applications</a>
    </p>
</div>


</body>
</html>