<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      th:replace="fragments/layout :: page(~{::body})">
<body>
<th:block sec:authorize="isAuthenticated()">
    <script sec:authorize="hasRole('ROLE_RECRUITER')">
        window.location.replace("/recruiter/applications");
    </script>
    <script sec:authorize="hasRole('ROLE_APPLICANT')">
        window.location.replace("/apply");
    </script>
</th:block>
</body>
</html>