<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>List applications</h1>
            <h2 th:if="${listOfApplications}">Search result</h2>

            <table class="table" th:if="${listOfApplications}" th:object="${listOfApplications}">
                <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Created</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="application : ${listOfApplications}">
                    <tr>
                        <td scope="row" th:text="${application.getPerson().getFirstName()}"></td>
                        <td th:text="${application.getPerson().getLastName()}"></td>
                        <td th:text="${application.getCreated()}"></td>
                        <td><a th:href="@{/recruiter/applications/{path}(path=${application.id})}">View</a></td>
                    </tr>
                </th:block>
                </tbody>
            </table>

            <h2>Search terms</h2>

            <form th:action="@{/recruiter/applications/add-competence}" method="post">
                <div class="form-group">
                    <th:block th:each="competenceProfile : ${selectedCompetences}">
                        <div class="bg-success text-white">
                            <p th:text="${'Competence ' + competenceProfile.getCompetence().getName() + ' with at least ' + competenceProfile.getYearsOfExperience() + ' years of experience'}"></p>
                        </div>
                    </th:block>
                </div>

                <div class="form-group">
                    <label for="selectCompetence">Select competence</label>
                    <select id="selectCompetence" name="id" class="form-control">
                        <th:block th:each="competence : ${availableCompetences}">
                            <option
                                    th:value="${competence.getId()}"
                                    th:text="${competence.getName()}">
                            </option>
                        </th:block>
                    </select>
                </div>

                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="yearsOfExperience">Years of experience</label>
                            <input id="yearsOfExperience" class="form-control" placeholder="Enter years of experience"
                                   type="text"
                                   name="yearsOfExperience"/>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="form-group text-right">
                            <!--<small id="submitHint" class="form-text text-muted">Click to add</small>-->
                            <label for="addCompetenceButton">Click to add</label>
                            <input id="addCompetenceButton" class="btn btn-primary" type="submit"
                                   value="Add competence"/>
                        </div>

                    </div>
                </div>

            </form>

            <form th:action="@{/recruiter/applications}" method="post">

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="firstName">First name</label>
                            <input class="form-control" placeholder="First name" id="firstName" type="text"
                                   name="firstName"/>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="lastName">Last name</label>
                            <input class="form-control" placeholder="Last name" id="lastName" type="text"
                                   name="lastName"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="created">Created</label>
                    <input class="form-control" placeholder="Application created" id="created" type="date"
                           name="created"/>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="from">Available from</label>
                            <input class="form-control" id="from" type="date" name="from"/>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="to">Available to</label>
                            <input class="form-control" id="to" type="date" name="to"/>
                        </div>
                    </div>
                </div>

                <div class="form-group text-right">
                    <input class="btn btn-primary" id="search" type="submit" value="Search"/>
                </div>
            </form>

        </div>
    </div>

</div>
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>