<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>

<div th:replace="fragments/header :: header"> </div>

<table class="table" th:action="@{/listRoles}" th:object="${listOfRoles}">
    <thead>
    <tr>
        <th>username</th>
        <th>Role</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="userRole : ${listOfRoles}">
    <td scope="row" th:text="${userRole.getUser().getUsername()}"></td>
    <td th:text="${userRole.getRole().getName()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>