<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div th:replace="fragments/menu :: menu"></div>

<div class="applicationSearchOptions">
    <h1>Search terms</h1>

    <h2>Competences</h2>

    <form th:action="@{/recruiter/applications/add-competence}" method="post">
        <select name="id">
            <th:block th:each="competence : ${availableCompetences}">
                <option
                        th:value="${competence.getId()}"
                        th:text="${competence.getName()}">
                </option>
            </th:block>
        </select>
        <input type="text" name="yearsOfExperience"/>
        <input type="submit" value="Add competence"/>
    </form>

    <th:block th:each="competenceProfile : ${selectedCompetences}">
        <div>
            <p th:text="${competenceProfile.getCompetence().getName()}"></p>
            <p th:text="${competenceProfile.getYearsOfExperience()}"></p>
        </div>
    </th:block>

    <form th:action="@{/recruiter/applications}" method="post">
        <label>First Name: <input type="text" name="firstName"/> </label><br/>
        <label>Last Name: <input type="text" name="lastName"/> </label><br/>
        <label>Created: <input type="date" name="created"/></label><br/>
        <label>Available from: <input type="date" name="from"/></label><br/>
        <label>Available to: <input type="date" name="to"/></label><br/>
        <input type="submit" value="Search"/>
    </form>

</div>

<div class="listOfApplications">
    <table class="table" th:if="${listOfApplications}" th:object="${listOfApplications}">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Created</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="application : ${listOfApplications}">
            <tr>
                <td scope="row" th:text="${application.getPerson().getFirstName()}"></td>
                <td th:text="${application.getPerson().getLastName()}"></td>
                <td th:text="${application.getCreated()}"></td>
                <td><a th:href="@{/recruiter/applications/{path}(path=${application.id})}">View</a></td>
            </tr>
        </th:block>

        </tbody>
    </table>

</div>
</body>
</html>