<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1 th:text="#{list_applications}"></h1>
            <h2 th:if="${listOfApplications}" th:text="#{search_result}"></h2>

            <table class="table" th:if="${listOfApplications}" th:object="${listOfApplications}">
                <thead>
                <tr>
                    <th th:text="#{first_name}"></th>
                    <th th:text="#{last_name}"></th>
                    <th th:text="#{created}"></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="application : ${listOfApplications}">
                    <tr>
                        <td scope="row" th:text="${application.getPerson().getFirstName()}"></td>
                        <td th:text="${application.getPerson().getLastName()}"></td>
                        <td th:text="${application.getCreated()}"></td>
                        <td><a th:text="#{view}" th:href="@{/recruiter/applications/{path}(path=${application.id})}"></a></td>
                    </tr>
                </th:block>
                </tbody>
            </table>

            <h2 th:text="#{search_terms}"></h2>

            <form th:action="@{/recruiter/applications/add-competence}" method="post">
                <div class="form-group">
                    <th:block th:each="competenceProfile : ${selectedCompetences}">
                        <div class="bg-success text-white">
                            <p th:text="${competenceProfile.getCompetence().getName() + ' ' + competenceProfile.getYearsOfExperience()}"></p>
                        </div>
                    </th:block>
                </div>

                <div class="form-group">
                    <label for="selectCompetence" th:text="#{select_competence}"></label>
                    <select id="selectCompetence" name="id" class="form-control">
                        <th:block th:each="competence : ${availableCompetences}">
                            <option
                                    th:value="${competence.getId()}"
                                    th:text="${competence.getName()}">
                            </option>
                        </th:block>
                    </select>
                </div>

                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="yearsOfExperience" th:text="#{years_of_experience}"></label>
                            <input id="yearsOfExperience" class="form-control" th:placeholder="#{years_of_experience}"
                                   type="text"
                                   name="yearsOfExperience"/>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="form-group text-right">
                            <!--<small id="submitHint" class="form-text text-muted">Click to add</small>-->
                            <label for="addCompetenceButton" th:text="#{click_to_add}"></label>
                            <input id="addCompetenceButton" class="btn btn-primary" type="submit"
                                   th:value="#{add_competence}"/>
                        </div>

                    </div>
                </div>

            </form>

            <form th:action="@{/recruiter/applications}" method="post">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label th:text="#{first_name}" for="firstName"></label>
                            <input class="form-control" th:placeholder="#{first_name}" id="firstName" type="text"
                                   name="firstName"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lastName" th:text="#{last_name}"></label>
                            <input class="form-control" th:placeholder="#{last_name}" id="lastName" type="text"
                                   name="lastName"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="created" th:text="#{created}"></label>
                    <input class="form-control" placeholder="Application created" id="created" type="date"
                           name="created"/>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="from" th:text="#{available_from}"></label>
                            <input class="form-control" id="from" type="date" name="from"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="to" th:text="#{available_to}"></label>
                            <input class="form-control" id="to" type="date" name="to"/>
                        </div>
                    </div>
                </div>

                <div class="form-group text-right">
                    <input class="btn btn-primary" id="search" type="submit" th:value="#{search}"/>
                </div>
            </form>

        </div>
    </div>

</div>
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>