<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>

<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1 th:text="#{sign-in}"></h1>
            <p th:if="${param.error}">
                Invalid username and password.
            </p>
            <p th:if="${param.logout}">
                You have been logged out.
            </p>
            <form th:action="@{/login}" method="post">

                <div class="form-group text-right">
                    Not registered? <a th:href="@{/register}">Register</a>
                </div>

                <div class="form-group">
                    <label for="username">Username:</label>
                    <input class="form-control" id="username" placeholder="Username" type="text" name="username"/>
                </div>

                <div class="form-group">
                    <label for="password">Password:</label>
                    <input class="form-control" id="password" placeholder="Password" type="password" name="password"/>
                </div>

                <div class="form-group text-right">
                    <input class="btn btn-primary" type="submit" value="Sign In"/>
                </div>
            </form>
        </div>
    </div>

</div>
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>