<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout :: page(~{::body})">
<body>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Register</h1>
            <form th:action="@{/register}" th:object="${person}" method="post">

                <div class="form-group text-right">
                    <div th:text="#{already_registered}"></div> <a th:href="@{/login}" th:text="#{sign_in}"></a>
                </div>

                <div class="form-group">
                    <label for="firstName" th:text="#{first_name}">:</label>
                    <input class="form-control" id="firstName" th:placeholder="#{enter_first_name}" type="text"
                           th:field="*{firstName}"/>
                </div>
                <div class="form-group">
                    <label for="lastName" th:text="#{last_name}">:</label>
                    <input class="form-control" id="lastName" th:placeholder="#{enter_last_name}" type="text"
                           th:field="*{lastName}"/>
                </div>

                <div class="form-group">
                    <label for="personalNumber" th:text="#{pid}">:</label>
                    <input class="form-control" id="personalNumber" th:placeholder="#{enter_pid}" type="text"
                           th:field="*{personalNumber}"/>
                </div>

                <div class="form-group">
                    <label for="email">Email:</label>
                    <input class="form-control" id="email" th:placeholder="#{enter_email}" type="text"
                           th:field="*{email}"/>
                    <small id="emailHelp" class="form-text text-muted" th:text="#{share_email}">
                    </small>
                </div>

                <div class="form-group">
                    <label for="username" th:text="#{username}">:</label>
                    <input class="form-control" id="username" th:placeholder="#{choose_username}" type="text"
                           th:field="*{user.username}"/>
                    <small id="usernameHelp" class="form-text text-muted" th:text="#{username_sign_in}" ></small>
                </div>

                <div class="form-group">
                    <label for="password">Password:</label>
                    <input class="form-control" id="password" th:placeholder="#{choose_password}" type="password"
                           th:field="*{user.password}"/>
                    <!--<small id="passwordHelp" class="form-text text-muted" th:text="#{strong_password}" ></small>-->
                </div>

                <div class="form-group">
                    <label for="password" th:text="#{confirm_password}">:</label>
                    <input class="form-control" id="confirmPassword" th:placeholder="#{type_password_again}"
                           type="password" name="confirmPassword"/>
                    <!--<small id="passwordHelp" class="form-text text-muted" th:text="#{strong_password}"></small>-->
                </div>

                <div class="form-group text-right">
                    <small id="submitHint" class="form-text text-muted" th:text="#{all_done}"></small>
                    <input type="submit" class="btn btn-primary" th:value="#{register}"/>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>