<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <link rel="stylesheet" href="/css/bootstrap-reboot.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="row justify-content-center">
        <h2>Application</h2>
    </div>
    <div class="row justify-content-center">
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Created</th>
                <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${singleApplication.getPerson().getFirstName()}">First name</td>
                <td th:text="${singleApplication.getPerson().getLastName()}">Last name</td>
                <td th:text="${singleApplication.getCreated()}">Created</td>
                <td th:text="${singleApplication.getStatus().getName().toLowerCase()}">Status</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row justify-content-center">
        <h2>Competences</h2>
    </div>

    <div class="row justify-content-center">
        <table class="table">
            <thead class="thead-light">
            <th scope="col">Competence</th>
            <th scope="col">Years of experience</th>
            </thead>

            <tbody>
            <th:block th:each="compProfile : ${singleApplication.getCompetenceProfiles()}">
                <tr>
                    <td th:text="${compProfile.getCompetence().getName()}">Competence</td>
                    <td th:text="${compProfile.getYearsOfExperience()}">Years of experience</td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>

    <div class="row justify-content-center">
        <h2>Avalability</h2>
    </div>

    <div class="row justify-content-center">
        <table class="table">
            <thead class="thead-light">
            <th scope="col">From</th>
            <th scope="col">To</th>
            </thead>
            <tbody>
            <th:block th:each="avalability : ${singleApplication.getAvailabilities()}">
                <tr>
                    <td th:text="${avalability.getFromDate()}">From</td>
                    <td th:text="${avalability.getToDate()}">To</td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>

    <div class="container"></div>
</div>
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>