<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <link rel="stylesheet" href="/css/bootstrap-reboot.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="row justify-content-center">
        <h2>Application</h2>
    </div>
    <div class="row justify-content-center">
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col" th:text="#{first_name}"></th>
                <th scope="col" th:text="#{last_name}"></th>
                <th scope="col" th:text="#{created}"></th>
                <th scope="col" th:text="#{status}"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${singleApplication.getPerson().getFirstName()}"></td>
                <td th:text="${singleApplication.getPerson().getLastName()}"></td>
                <td th:text="${singleApplication.getCreated()}"></td>
                <td th:text="${singleApplication.getStatus().getName().toLowerCase()}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row justify-content-center">
        <h2 th:text="#{competences}"></h2>
    </div>

    <div class="row justify-content-center">
        <table class="table">
            <thead class="thead-light">
            <th scope="col" th:text="#{competence}"></th>
            <th scope="col" th:text="#{years_of_experience}"></th>
            </thead>

            <tbody>
            <th:block th:each="compProfile : ${singleApplication.getCompetenceProfiles()}">
                <tr>
                    <td th:text="${compProfile.getCompetence().getName()}"></td>
                    <td th:text="${compProfile.getYearsOfExperience()}"></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>

    <div class="row justify-content-center">
        <h2 th:text="#{availability}"></h2>
    </div>

    <div class="row justify-content-center">
        <table class="table">
            <thead class="thead-light">
            <th scope="col" th:text="#{from}"></th>
            <th scope="col" th:text="#{to}"></th>
            </thead>
            <tbody>
            <th:block th:each="avalability : ${singleApplication.getAvailabilities()}">
                <tr>
                    <td th:text="${avalability.getFromDate()}"></td>
                    <td th:text="${avalability.getToDate()}"></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>

    <div class="container"></div>
</div>
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>